
body {
    background-color: black;
}
.bp-jumbotron {
    background-color: rgb(174, 155, 196);
}
button {
    font-family: 'Forum', cursive;
}
.bp {
    height: 65vh;
    margin: 100px 0 0 100px;
}
.bp-soundtrack {
    height: 10vh;
    cursor: pointer;
}
.bp-soundtrack:hover {
    color: rgb(174, 155, 196);
}
#content-header {
    font-family: 'Cinzel', serif;
    font-size: 84px;
}
#subheader {
    font-family: 'Cinzel', serif;
    
}
.play {
    background-color: rgb(140, 36, 189);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
}
.pause {
    background-color: rgb(238, 178, 14);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/* #play-icon,
#pause-icon {
    box-shadow: 2px 2px 5px #000000;
    margin-right: 20px;
} */
h5 {
    font-family: 'Cinzel', serif;

}
p {
    font-family: 'Forum', cursive;
}
.superpowers,
.movement {
    margin-top: 20px;
}
.not-see,
.visible,
.shrink,
.growth,
.normal {
    background-color: rgb(140, 36, 189);
    border: rgb(140, 36, 189);
}
#second-right {
    margin-left: -10px;
}
#second-left {
    margin-left: -10px;
}
/* #second-down {
    margin-left: -2px;
    transform: rotate(45deg);
    margin-top: -20px;
} */
.speed {
    background-color: rgb(238, 178, 14);
    border-color: rgb(238, 178, 14);
}
#control-center {
    margin-left: 180px;
}
#left-btn {
    margin-right: 42px;
    margin-left: -60px;
}
#right-btn {
    margin-left: 20px;
}